.status {
    margin-right: 5px;
}

.status.confirmed {
    color: #3273dc;
}

.status.in-progress {
    color: #fcb603;
}

.status.in-review {
    color: #03cefc;
}

.status.resolved {
    color: #48c774;
}

.status.closed {
    color: #f5f5f5;
}


.priority.medium {
    background-color: #3e8ed0;
    color: #fff;
}

.priority.high {
    background-color: #ffdd57;
    color: rgba(0, 0, 0, .7);
}

.priority.urgent {
    background-color: #f14668;
    color: #fff;
}

.issue-detail .attributes-item {
    clear: left;
}

.issue-detail .attributes-item .label {
    width: 170px;
    float: left;
}

.description {
    white-space: pre-line;
}