.status.confirmed {
	background-color: #3273dc;
	color: #fff;
}

.status.in-progress {
	background-color: #fcb603;
	color: #fff;
}

.status.in-review {
	background-color: #03cefc;
	color: #fff;
}

.status.resolved {
	background-color: #48c774;
	color: #fff;
}

.status.closed {
	background-color: #f5f5f5;
	color: rgba(0, 0, 0, .7);
}


.priority.high {
	background-color: #ffdd57;
	color: rgba(0, 0, 0, .7);
}

.priority.urgent {
	background-color: #f14668;
	color: #fff;
}

.issue-detail .attributes-item {
	clear: left;
}

.issue-detail .attributes-item .label {
	width: 170px;
	float: left;
}

.description {
	white-space: pre-line;
}