.nav {
    height: 50px;
    background: #0078e7;
    display: flex;
}

.nav > .nav-header {
    flex-basis: 30%;
}

.nav > .nav-header > .nav-title a {
    font-size: 28px;
    color: #fff;
    padding: 10px 10px 10px 10px;
}

.nav .nav-links {
    font-size: 18px;
    flex-basis: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nav .nav-links li {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    color: #efefef;
    height: 100%;
    cursor: default;
}

.nav .nav-links li > i {
    margin-right: 10px;
}

.nav .nav-links li.user-name ul.dropdown {
    width: 125px;
    background: #f2f2f2;
    position: absolute;
    z-index: 999;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: .25rem;
    padding: 5px;
    right: 10px;
    margin-top: 10px;
}

.nav .nav-links li.user-name:hover ul.dropdown {
    display: block;
}

.nav .nav-links li.user-name ul.dropdown li {
    padding: 5px;
    font-size: 14px;
}

.nav .nav-links li.user-name ul.dropdown li a {
    color: black;
}

@media (max-width:767px) {
    .nav > .nav-header {
        flex-basis: 60%;
    }
}
