a {
    text-decoration: none;
}

html, body {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

input {
    font-size: 100%;
}

.main {
    height: auto;
    margin: 20px 10%;
}

@media (max-width: 767.98px) {
    .main {
        margin: 10px;
    }
}